/* TODO: Remove */
.box {
  border: 1px solid #ff0000;
  padding: 4px;
}

/* Fonts */
@font-face {
  font-family: 'Josefin';
  src: url('JosefinSansStd-Light.otf') format('opentype');
}

/* Styles */
html {
  height: 100%;
}
body {
  background: #eee;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font: 14px Arial;
}
.layer {
  cursor: move;
  padding: 7px;
  background: #eee;
}
.layer span {
  vertical-align: middle;
}
.layer img {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 4px;
  border: 1px solid #aaa;
}
.layer.selected {
  padding: 4px;
  border: 3px solid #36b;
}

.canvas-wrap {
  background: #aaa;
}

#logo {
  font: 30px 'Josefin';
  color: #333;
  cursor: default;
  position: absolute;
  right: 15px;
  bottom: 10px;
  text-shadow: 1px 1px 1px #fff;
}